
<div class="container " style="margin-top: 250px; max-width: 250px;"> 
  <mat-card class="example-card" >
    <mat-card-header>
      <mat-card-title>{{KullaniciAdi}}</mat-card-title>
      <mat-card-subtitle>&nbsp;</mat-card-subtitle>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-subtitle>Ad Soyad: {{AdSoyad}}</mat-card-subtitle>
      <mat-card-subtitle> Email: {{email}}</mat-card-subtitle>
      <mat-card-subtitle>Şifre: {{sifre}}</mat-card-subtitle>
      <mat-card-subtitle>Yetkiniz: {{admin}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="KullaniciUpdate()"> Bilgilerimi Düzenle</button>
    </mat-card-actions>
  </mat-card>
</div>