<div class="containers">
  <h1 style="margin-top: 30px; margin-left: 30px;">Anketi Çözen Kişi Sayısı: {{cozenSayisi}}</h1>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort >
    
    <ng-container matColumnDef="AnketSoruId" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Anket ID
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.AnketSoruId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="AnketId" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Anket Açıklama 
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.AnketId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Soru" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Konusu
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.Soru}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
  </mat-table>
  <mat-paginator 
    [pageSizeOptions]="[10, 25, 100]">
  </mat-paginator>
</div>



